<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }}</title>
        <script src="https://use.fontawesome.com/766805cb63.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/{{ index .Site.Data.css.hash "main.css" }}">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css"> -->
    </head>

    <body>
