<nav class="left-nav">
    <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/portfolio">portfolio</a></li>
    <li><a href="/contact">contact</a></li>   
    </ul>
</nav>
<div class="nav-logo"></div>
<nav class="right-nav">
    <ul>
        <li><a href="https://instagram.com/6cmzumquadrat"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/LoganEgbertPhotography/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="http://nailsandhammers.net"><i class="fa fa-camera-retro"></i></a></li>        
        <li><a href="mailto:name@email.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
</nav>

